header.app-header.container
    a(href="/").app-header__logo
        img(src="img/logo.svg").app-header__logo-image
        img(src="img/logo-icon.svg").app-header__logo-image--symbol.app-header__logo-image
    nav.nav
        v-btn(depressed=true @click="toggleMobileNav").nav__mobile-trigger
            i.fas.fa-bars
        .nav__content(:class="{'nav__content--active': mobileNav}")
            .nav__mobile-close
                v-btn(depressed=true @click="toggleMobileNav").nav__mobile-close__btn
                    i.far.fa-times
            ul.nav__list
                li.nav__list__item.nav__list__item--active
                    a(href="/o-mnie").nav__link O mnie
                li.nav__list__item
                    a(href="/filmy").nav__link Filmy
                li.nav__list__item
                    a(href="/harmonogram").nav__link Harmonogram
                li.nav__list__item
                    a(href="/kontakt").nav__link Kontakt