$primary-color: #FF00FB;
$accent-color: #3A02AA;

$text-color: #111;
$text-em-color: $primary-color;

$light-color: #fff;
$dark-color: #111;

$default-bg-color: #fff;
$secondary-bg-color: #fff;
$accent-bg-color: #f7f7f7;