html { font-size: 16px; }
body { font-size: 1rem; background: $default-bg-color; font-family: $font-default; }

.container { max-width: 1530px; }

@media(min-width: 768px) {
  body {
    background: url('/img/gradient-right.svg') 100% 0 no-repeat;
    background-size: 30%;
  }
}

@media (min-width: 1280px) {
  body {
    background-size: 350px 1145px;
  }
}