extends ../layout

block content
    .container
        .home-intro
            h1.header-text just keep 
                span.color-em learning!
            p.text.home-intro__text
                | Chcesz rozwinąć umiejętności lub poznać nową technologię? 
                span.break Znajdziesz tu krótkie i zwięzłe filmy w których mówię o tym, co warto wiedzieć.
            a.btn.btn--primary(href="https://youtube.com/overment?utm_campaign=links&utm_source=website&utm_content=home-page" target="blank") Rozpocznij naukę
            //- .newsletter
                form.newsletter-form
                    input.newsletter-form__input(type="email" placeholder="Podasz mi swój adres e-mail?")
                    button.newsletter-form__submit.primary-btn(type="submit" ) Zapisz mnie
                    p.text Dołącz do 8 000 programistów takich jak Ty! Im też nie wysyłam spamu.
    
    .section.cards-section
        .container
            h2.section-title Serie filmów 
                br 
                span.color-em #bezZbędnegoGadania

            .cards
                .card
                    a.card__content(href="https://www.youtube.com/watch?v=D6EI7EbEN4Q&list=PLjHmWifVUNMKIGHmaGPVqSD-L6i1Zw-MH?utm_campaign=links&utm_source=website&utm_content=home-git" target="_blank")
                        .card__icon 
                            img(src="/img/git.png")
                        .card__title Git
                        .card__details 14 filmów | 01:04:00

                .card
                    a.card__content(href="https://www.youtube.com/watch?v=P9b8-BrWdYs&list=PLjHmWifVUNMLjh1nP3p-U0VYrk_9aXVjE?utm_campaign=links&utm_source=website&utm_content=home-rest" target="_blank")
                        .card__icon 
                            img(src="/img/rest.png")
                        .card__title REST API
                        .card__details 14 filmów | 01:04:00

                .card
                    a.card__content(href="https://www.youtube.com/watch?v=wh92CVwZs9Y&list=PLjHmWifVUNMKyW8SZUSQCoaYOROcWAKkt?utm_campaign=links&utm_source=website&utm_content=home-express" target="blank")
                        .card__icon 
                            img(src="/img/express.png")
                        .card__title Express.js
                        .card__details 14 filmów | 01:04:00
            //- .actions
            //-     v-btn(href="#").btn.btn--dark.v-btn--flat Zobacz więcej

    .section.mission-section
        .container 
            h2.section-title Content is King. Nope!
                br 
                span.color-em Quality Content 
                | is.
            p.text Tworząc filmy najwyższą wartością jest dla mnie Twój czas.
                | Moja strategia polega na tym, aby dotrzeć do źródła tematu i świadomie
                | odrzucić niepotrzebne elementy. W ten sposób w prostych słowach 
                | wyjaśniam Ci to, co jest naprawdę istotne.

            v-divider

            p.text.text--subscribe
                strong Ma to dla Ciebie sens? Subskrybuj!
                br
                | Premiery filmów w każdy poniedziałek o 18:00.
            .subscribe-btn
                .g-ytsubscribe(data-channelid="UC_MIaHmSkt9JHNZfQ_gUmrg" data-layout="default" data-count="default")