doctype html
html
    head
        title overment
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width")
        link(href="https://pro.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet" integrity="sha384-LRlmVvLKVApDVGuspQFnRQJjkv0P7/YFrw84YYQtmYG4nK8c+M+NlmYDCv0rKWpG" crossorigin="anonymous")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700&amp;subset=latin-ext")
        link(href="/css/app.css" rel="stylesheet")
    body
        div#app
            include layout/header
            block content
        script(src="js/build.js")
        script(src="reload/reload.js")
